.nav {
  background-color: rgb(45, 46, 49);
  position: sticky;
  padding: 10px;
}

.nav-logo {
  font-family: serif;
  color: white;
  margin-left: 75px;
}

.logo {
  margin: auto;
}

.nav-links {
  margin: auto;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: black;
}

.fancy-letter {
  color: red;
}