.wallet {
  margin-top: 100px;
  width: 50vw;
}

@media only screen and (max-width: 576px) {
  .wallet {
    width: 80vw;
  }
}

.modal-body {
  word-wrap: break-word;
}

.wallet-button {
  margin: 10px;
}

.wallet-transactions-box {
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.wallet-info-balance-input {
  padding: 15px;
  font-size: 25px;
  border-radius: 30px;
  margin-top: 10px;
}

.wallet-info-buttons {
  margin-top: 20px;
}

.wallet-balance {
  color: white;
  /* margin-top: 50px; */
}

.wallet-transactions-errors {
  text-align: left;
}

.wallet-generator {
  margin-top: 100px;
  border-radius: 5px;
  overflow-wrap:  break-word;
  word-break: break-all;
}

.wallet-generator-private-label {
  color: black;
  text-align: center;
  background-color: lightgray;
  border-radius: 5px;
}

.wallet-generator-public-label {
  color: black;
  text-align: center;
  background-color: lightgray;
  border-radius: 5px;
}

